Repository Hori1234/WebApp-VanBerkel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_backend, trigger_frontend

trigger_backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

test: link of all button works
  frontend/src/components/NavigationLayout/NavigationLayout.test.js
Due: none

Displaying the errors
  frontend/src/components/UploadButton/UploadButton.js
Due: none

Fix: Tried fixing the pipelines
  frontend/.gitlab-ci.yml
Due: trigger_frontend

Fix: Updated linter code in gitlab-ci
  frontend/.gitlab-ci.yml
  frontend/package.json
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/Home/Home.js
  frontend/src/components/NavigationLayout/NavigationLayout.js
  frontend/src/components/NavigationLayout/TestComponent.js
  frontend/src/components/SignIn/SignInComponent.js
  frontend/src/components/SignIn/SignInComponent.test.js
  frontend/src/components/UploadButton/UploadButton.js
Due: trigger_frontend

Fix: activating source when running the backend CI
  backend/.gitlab-ci.yml
Due: trigger_backend

Fix: Still trying to fix the issues with the trigger stages of the pipeline
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: trigger_backend

Fix: Typos in gitlab-ci
  .gitlab-ci.yml
Due: none

Fix: Pipeline eslint
  frontend/.gitlab-ci.yml
Due: trigger_frontend

Changed names of the jobs for CI to differentiate them better
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

Fix: Gitlab ci typos
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_backend, trigger_frontend

Fix: Moved all the authorization state logic to the AuthContext. Updated every component that needed it. Fix: Added default for remember_me value in GET /api/auth/login
  backend/api/auth/resources.py
  frontend/src/App.js
  frontend/src/__snapshots__/App.test.js.snap
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/CreateAccountsComponent.js
  frontend/src/components/AccountManagerLayout/DeleteAccountsComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
  frontend/src/components/AppLayout.js
  frontend/src/components/Home/Home.js
  frontend/src/components/Logout/Logout.js
  frontend/src/components/NavigationLayout/NavigationLayout.js
  frontend/src/components/NavigationLayout/NavigationLayout.test.js
  frontend/src/components/NavigationLayout/TestComponent.js
  frontend/src/components/NavigationLayout/__snapshots__/NavigationLayout.test.js.snap
  frontend/src/components/SignIn/SignInComponent.js
  frontend/src/components/UploadButton/UploadButton.js
  frontend/src/components/contextConfig.js
Due: none

UI Account Managemtn page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/DeleteAccountsComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountModalComponent.js
  frontend/src/components/Css/EditAC.css
  frontend/src/components/Logout/Logout.js
  frontend/src/components/UploadButton/UploadButton.js
  frontend/src/components/contextConfig.js
Due: trigger_frontend

Unecesssary cod deletion
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
Due: none

Uneccesary code removed
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountModalComponent.js
Due: none

Fix: Fixed build and linting for last commit
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountModalComponent.js
  frontend/src/components/SignIn/SignInComponent.test.js
  frontend/src/components/SignIn/__snapshots__/SignInComponent.test.js.snap
Due: trigger_frontend

Changed manual planning page
  frontend/src/components/ManualPlanning/ManualPlanning.js
  frontend/src/components/NavigationLayout/NavigationLayout.js
Due: none

feat: practice tests for upload button
  frontend/package-lock.json
  frontend/src/components/UploadButton/UploadButton.js
  frontend/src/components/UploadButton/UploadButton.test.js
  frontend/src/components/UploadButton/__snapshots__/UploadButton.test.js.snap
  frontend/src/setupTests.js
Due: trigger_frontend

Show/hide function for the manual planning table.
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

Created branch for backend.
  backend/api/sheets/SheetParser.py
  backend/api/sheets/resources.py
  backend/migrations/versions/71a29236c06a_added_tables_for_the_truck_and_order_.py
  backend/models/orders.py
  backend/models/trucks.py
  tests/data/order_sheet_test_timeles.xlsx
Due: none

Creating, Updating and Deleting user now possib;e
  frontend/src/components/AccountManagerLayout/AccountManagementLayout.js
  frontend/src/components/AccountManagerLayout/CreateAccountsComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountComponent.js
  frontend/src/components/AccountManagerLayout/EditAccountModalComponent.js
  frontend/src/components/SignIn/SignInComponent.js
  frontend/src/components/contextConfig.js
Due: none

added columns sorting/ fixed some layout
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

Fix: Time columns are now parsed to strings in SheetParser
  backend/api/sheets/SheetParser.py
Due: none

Added Manual Planning page
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

feat: add render test to upload component
  frontend/src/components/UploadButton/UploadButton.test.js
  frontend/src/components/UploadButton/__snapshots__/UploadButton.test.js.snap
Due: none

Fix: Added some comments clearing up what's done in SheetParser
  backend/.gitlab-ci.yml
  backend/api/sheets/SheetParser.py
Due: trigger_backend

puppeteer testing
  frontend/example.js
  frontend/package-lock.json
  frontend/package.json
Due: trigger_frontend

test: end to end basic
  frontend/example.js
  frontend/src/test/example.test.js
  frontend/test.png
Due: trigger_frontend

Added functionality to the ITV/KAT menu.
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

Feat: Added framework for orders namespace/blueprint
  backend/api/__init__.py
  backend/api/auth/resources.py
  backend/api/orders/__init__.py
  backend/api/orders/resources.py
  backend/api/orders/schemas.py
  backend/api/sheets/SheetParser.py
Due: none

Implemented opening Data Visualisation in new tab
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

Updated test cases, and added more
  tests/test_account_management.py
  tests/test_login.py
  tests/test_planning_endpoints.py
  tests/test_sheets.py
Due: none

added addOrders and addTruck Layout
  frontend/src/components/ManualPlanning/AddOrdersLayout.js
  frontend/src/components/ManualPlanning/AddTruckLayout.js
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

puppet test for log in page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/example.test.js
  frontend/src/test/login.test.js
  frontend/test.png
Due: trigger_frontend

added end-to-end testing homepage redirecting
  frontend/src/test/homepage.test.js
Due: none

small fixes login tests and added sidemenu redirecting tests
  frontend/src/test/menu.test.js
Due: none

puppeteering upload fail test done
  frontend/src/test/homepage.test.js
  frontend/src/test/login.test.js
  frontend/src/test/uploadpage.test.js
  frontend/testDoc.txt
Due: trigger_frontend

extra change
  frontend/src/test/homepage.test.js
Due: none

Fixed assign/unassign buttons.
  frontend/src/components/ManualPlanning/ManualPlanning.js
Due: none

Added 'Delete order'
  backend/api/orders/resources.py
Due: none

Delete and get for trucks
  backend/api/__init__.py
  backend/api/orders/resources.py
  backend/api/trucks/__init__.py
  backend/api/trucks/resources.py
  backend/api/trucks/schemas.py
Due: none

Path conditions:
  trigger_backend: any of: backend/**
  trigger_frontend: any of: frontend/**
